@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.portrait {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portrait:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.prof-line {
  color: white;
  text-align: left;
  font-size: 1.5rem;
}

.quote-heading {
  color: white;
  margin-bottom: 30px;
}

body {
  background: linear-gradient(
    -54deg,
    #3a6073,
    /* Deep teal */ #5a879d,
    /* Cool gray-blue */ #72a1b7,
    /* Soft blue */ #6e8e8e,
    /* Muted teal */ #9ba8a9,
    /* Soft gray */ #4b6878 /* Deep blue-gray */
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

.profession {
  text-decoration: underline;
}

.landing-page {
  font-family: Arial, sans-serif;
}

.bio-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bio-para {
  font-size: 1.2rem;
}

#name-intro {
  font-size: 3rem;
  color: white;
  text-align: left;
  margin-bottom: 3rem;
}

#about {
  color: white;
  margin-top: 170px;
  margin-bottom: 170px;
}

.styled-image {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  #about {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1028px) {
  #about {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.navigation a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.main-content {
  padding: 20px;
}

.top-section {
  display: flex; /* Set display to flex to align items side-by-side */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 20px;
}

.greeting {
  margin-right: 20px; /* Add space between the text and the image */
}

.introduction p {
  text-align: center; /* Centering text in the introduction */
  margin-top: 20px;
}

.substack-heading {
  color: white;
}
