/* Base container styling */
.connect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  /*background-color: #f0f4f8;  Light blue background */
  font-family: "Arial", sans-serif; /* Consistent font for the entire component */
  gap: 30px; /* Adds space between the profile and links section */
}

.profile-section {
  flex: 1; /* Allows the profile section to take necessary space */
  display: flex;
  justify-content: center; /* Centers the profile image horizontally */
}

.profile-pic {
  width: 200px; /* Slightly larger profile picture */
  height: 200px;
  border-radius: 50%; /* Circular image */
  object-fit: cover; /* Ensure the image covers the space without distortion */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}

.links-section {
  flex: 2; /* Allows the links section to take necessary space */
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.connect-link {
  background-color: #ffffff;
  color: #007bff;
  text-decoration: none;
  padding: 15px 30px;
  margin: 10px 0; 
  border-radius: 15px;
  width: 80%; 
  text-align: center;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
  font-size: 16px; /* Larger font size for better readability */
  font-weight: bold; /* Makes text bold */
}

.linkedin:hover {
  background-color: #0077B5;
  color: white;
  border-color: white;
  transform: scale(
    1.05
  ); 
}

.instagram {
  color: #dc2743;
  border-color: #f09433;
}

.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: white;
  border-color: white;
  transform: scale(
    1.05
  ); 
}


.twitter {
  color: #1da1f2;
  border-color: #1da1f2;
}

.linkedin {
  color: #0077B5;
  border-color: #0077B5;
}
.calendly {
  color: #006bff;
  border-color: #006bff;
}

.substack {
  color: #ee7835;
  border-color: #ee7835;
}

.github {
  color: #000;
  border-color: #000;
 }

.twitter:hover {
  background: linear-gradient(45deg, #1da1f2, white);
  color: black;
  border-color: #1da1f2;
  transform: scale(
    1.05
  ); 
}
.calendly:hover {
  background: linear-gradient(45deg, #006bff, white);
  color: white;
  border-color: #006bff;
  transform: scale(
    1.05
  ); 
}

.github:hover {
  background: linear-gradient(60deg, #000, white);
  color: white;
  border-color: #000;
  transform: scale(
    1.05
  ); 
}

.substack:hover {
  background: linear-gradient(45deg, #ee7835, white);
  color: black;
  border-color: #ee7835;
  transform: scale(
    1.05
  ); 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .connect-container {
    flex-direction: column;
    align-items: center;
  }

  .links-section {
    width: 100%; /* Full width for the links section on smaller screens */
  }

  .connect-link {
    width: 90%; /* Makes links slightly narrower on smaller screens */
  }
}
