.project-item {
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
  margin-bottom: 20px;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  max-height: 200px; 
  object-fit: cover;
  border-radius: 8px;
}

.project-title {
  font-size: 1.5em;
  margin-top: 10px;
}

.project-description {
  font-size: 1em;
  margin-top: 10px;
}

.project-links a {
  margin-top: 10px;
  margin-right: 5px;
}
