/* Basic styles for the certificate card */
.certificate-card {
  display: flex;
  align-items: center;
  background-color: #f4f4f4; /* Light grey background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.certificate-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for the logo image */
.certificate-card img.logo {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  cursor: pointer;
}

/* Heading and organization name */
.certificate-card h3 {
  flex-grow: 1;
  margin: 0;
  color: #333;
  font-size: 18px;
}

/* Styles for the view button */
.certificate-card a.view-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.certificate-card a.view-button:hover {
  background-color: #0056b3;
}

.view-button {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  border: 2px solid white;
  border-radius: 15px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border 0.2s ease-in-out; /* Smooth transition for color, background, and border */
}

.view-button:hover {
  color: black;
  background-color: white;
  border: 2px solid #007bff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .certificate-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .certificate-card img.logo {
    margin-bottom: 10px;
  }

  .certificate-card {
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  .view-button {
    margin-top: 15px;
  }
}
